@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@500&family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d8f7c7;
    color: white;
    font-family: 'Open Sans', sans-serif;

}

.container {
    background-color: black;
    width: 50%;
    margin: 250px auto;
    border-radius: 25px;
    padding: 30px;
}

.queAndoptions {
    display: none;
}

.btn {
    font-size: 18px;
    display: block;
    margin: 12px auto;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(120, 228, 228);
}

.queAndoptions .inputs {
    padding: 20px 5px;
}

.queAndoptions h2 {
    text-align: center;
}

.first {
    text-align: center;
}

.resultBtn,
.playagainBtn {
    font-size: 18px;
    display: none;
    margin: 15px auto;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(120, 228, 228);
}

.resultBtn:hover {
    background-color: rgb(235, 235, 90);
}

.playagainBtn:hover {
    background-color: white;
}

.inputs .input {
    padding: 8px;
    font-size: 20px;
}